/* ==================================================================
    Header and Nav
================================================================== */

nav {
  width: 64%;
  display: inline-block;
}

nav ul {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

nav li {
  display: inline-block;
}

nav li a {
  color: #9458B2;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  display: inline-block;
  float: center;
  padding-top: 10px;
  padding-right: 2px;
  padding-left: 2px;
  padding-bottom: 5px;
  margin-left: 7px;
  margin-right: 7px;
  border-bottom: 1.5px solid #9458B2;
  *transition: color 0.3s ease;*
}

header {
  text-align: right;
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  align-items: center;
}

/*header .blog-name {
  width: 35%;
  display: inline-block;
  text-align: left;
  font-size: 18px;
  font-family: "Lucida Console", Monaco, monospace;
  padding-top: 10px;

  "Georgia", serif; 


}*/

header .blog-name {
  width: 35%;
  display: inline-block;
  text-align: left;
  font-size: 18px;
  font-family: "Helvetica", Arial, sans-serif; /* Change to a classic font like Georgia */
  padding-top: 10px;
  font-weight: bold;
  color: #000;
}

header .blog-name a {
  color: #a6a2a0;
  text-decoration: none;
}

header li a:hover {
  color: black;
  border-bottom: 2px solid black;
}

#menu-icon {
  display: none;
}

@media (max-width: 480px) {
  header {
    padding-left: 6%;
    padding-right: 6%;
  }
}

@media (min-width: 481px) {
  header {
    padding-left: 12.5%;
    padding-right: 12.5%;
  }
}

/* wide display: enforce maximum width of header to match content */
@media (min-width: 940px) {
  header {
    width: 705px;
    margin-left: auto;
    margin-right: auto;
  }
}

/*
medium display: nav goes under name
*/
@media (max-width: 760px) {
  header { display: block; }

  header .blog-name {
    display: block;
    width: 100%;
    padding-bottom: 10px;
  }

  nav {
    width: 100%;
  }
}

/*
narrow display: collapse the header (don't show the menu items)
instead, display a burger menu.
*/
@media (max-width: 500px) {
  header {
    height: 35px;
    display: flex;
    align-items: center;
  }

  header .blog-name {
    display: inline-block;
    width: 70%;
  }

  nav {
    display: inline-block;
    width: 27%;
  }

  nav ul,
  nav:active ul {
    display: none;
    position: absolute;

    /* padding: 20px; */
    background: #fff;
    border: 1px solid #444;
    right: 50px;
    top: 60px;
    width: 30%;
    border-radius: 4px 0 4px 4px;
    z-index: 1;
  }

  nav li {
    text-align: left;
    display: block;
    padding: 0;
    margin: 0;
  }
  header li a { border-bottom: none; }
  header li a:hover { border-bottom: none; }

  nav:hover ul {
    display: block;
  }

  #menu-icon {
    display: inline-block;
    margin-right: 10px;
    margin-top: 5px;
  }
}

table {
  line-height: 1em;
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  text-align: center;
  margin-bottom: 1.5em;
}

tr:first-of-type {
  background: #eae9f4;
}

tr:first-of-type > th {
  text-align: center;
}

tr,
th,
td {
  padding: 10px;
  border: 1px solid lightgray;
}

table tbody tr td {
  border: 1px solid lightgray;
}

/* Change the color of H1 headers */
h1 {
  color: #379825; /* Change to the desired color */
}

/* Add a new rule for the email link */
a.email-link {
  color: #CB3D33; /* Change to the desired color */
  text-decoration: none; /* Optional: Remove underline */
}

.content-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.text-column {
  flex: 2; /* Adjust the flex value to allocate more space to text */
  font-size: 16px; /* Set the desired font size in pixels */
}

.image-column {
  flex: 1; /* Adjust the flex value to allocate less space to the image */
  text-align: center;
}

/* Adjust the image size as needed */
.image-column img {
  max-width: 100%;
  height: auto;
  width: 100%; /* Ensure the image takes up the entire width of its column */
}

body {
  font-size: 0.85rem; /* 1rem is equivalent to 16px (root font size) */
}

p {
  font-size: 0.85rem; /* Example: 16px */
}